.card-pile-group {
  display: flex;
}

/* Mobile margin */
.card-pile-group > * {
  margin-right: 5px;
}

/** Medium */
@media (min-width: 768px) {
  .card-pile-group > * {
    margin-right: 10px;
  }
}

/** Desktop */
@media (min-width: 992px) {
  .card-pile-group > * {
    margin-right: 20px;
  }
}

/* Remove margin on the last child */
.card-pile-group > *:last-child {
  margin-right: 0px;
}
